$bp-xl: 87.5em;               // 1400px
$bp-lg: 75em;                 // 1200px
$bp-md-plus-one: 56.3125em;   // 901px
$bp-md: 56.25em;              // 900px
$bp-sm: 37.5em;               // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px

  @media all and (max-width: $bp-sm) {
    font-size: 50%; // 8px
  }
}

body {
  color: $dark-grey;
  font: 1.4rem $font-stack;
}

a {
  text-decoration: none;
  color: $dark-grey;
}

.hidden {
  display: none;
}

.v-hidden {
  position: absolute;
  top: -10000px;
}
