@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$font-stack: 'Lato', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-grey;
  font-weight: 400;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

strong {
  font-weight: 400;
}

input {
  font-family: $font-stack;
}

small {
  font-size: 2rem;
  color: $scorpion;
}

.paragraph {
  &__no-model-found {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
    margin-top: 10rem;
  }
}
