.admin-delivery {
  &__header {
    display: flex;
  }

  &__details {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 4rem;

    @media all and (max-width: $bp-lg) {
      width: 60%;
    }
  }

  &__controls {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 4rem;

    @media all and (max-width: $bp-lg) {
      width: 40%;
    }

    a {
      width: 100%;
    }
  }

  &__first-meta {
    flex: 0 0 40%;

    @media all and (max-width: $bp-lg) {
      flex: 0 0 100%;
    }
  }

  &__second-meta {
    flex: 0 0 60%;

    @media all and (max-width: $bp-lg) {
      flex: 0 0 100%;
    }
  }

  &__label-container {
    display: flex;
    align-items: center;

    h3:first-child {
      margin-right: 1rem;
    }

    h3:nth-of-type(2) {
      transform: translateY(.1rem);
    }
  }

  &__label {
    font-size: 2.4rem;
    font-weight: 300;
  }

  &__reference {
    flex: 0 0 100%;
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__contact-info {
    list-style: none;
    margin-left: 12rem;
    line-height: 1.5;
  }

  &__note {
    line-height: 1.5;

    h5 {
      font-size: 1.6rem;
    }
  }
}