.order {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  &__title {
    width: 100%;
    margin-top: 2rem;
  }

  &__header {
    width: 50%;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__business {
    width: 200px;
    margin-right: 2rem;
  }

  &__billing {
    width: 200px;
  }

  &__label {
    font-size: .75rem;
    font-weight: 300;
    margin-right: .5rem;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    margin: .5rem -15px;
    background: $alabaster;
    transition: background .3s;

    &:hover {
      background: $slight-grey;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  &__errors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: $bg-red;

    .fa-exclamation-triangle {
      margin-right: 2rem;
    }
  }
}