.order {
  &__container {
    padding-top: 8rem;
    background-color: $alabaster;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media all and (max-width: $bp-lg) {
      justify-content: space-around;
      margin-top: 3rem;
    }

    @media all and (max-width: $bp-xs) {
      flex-direction: column;
    }
  }

  &__business,
  &__billing {
    
  }

  &__status {
    display: flex;
    align-items: center;
    flex: 1;

    @media all and (max-width: $bp-lg) {
      width: 100%;
      justify-content: space-around;
    }
    
    @media all and (max-width: $bp-xs) {
      flex-direction: column;
    }

    :first-child {
      margin-right: 2rem;
    }
  }

  &__status-select {
    @media all and (max-width: $bp-xs) {
      margin-top: 3rem;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-right: .5rem;
  }

  &__header-controls {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    @media all and (max-width: $bp-lg) {
      width: 100%;
      justify-content: space-evenly;
      margin-top: 3rem;
    }

    @media all and (max-width: $bp-xs) {
      flex-direction: column;
      align-items: center;

      a {
        margin-top: 3rem;
      }
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    margin-top: 4rem;
    background: $alabaster;
    transition: background .3s;
    cursor: pointer;

    &:hover {
      background: $slight-grey;
    }
  }

  &__controls-label {
    font-size: 1.6rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 20rem;
  }

  &__errors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: $bg-red;

    .fa-exclamation-triangle {
      margin-right: 2rem;
    }
  }

  &__button-group {
    display: flex;

    :first-child {
      margin-right: 1rem;
    }
  }
}