.receipt {
  &__header {
    width: 84vw;
    margin: 0 auto;
  }

  &__title {
    font-size: 3.6rem;
    margin-top: 3rem;
    text-align: center;
  }

  &__secondary-title {
    font-size: 2.4rem;
  }

  &__logo {
    width: 100%;
    margin-top: 3rem;
  }

  &__section:not(:last-of-type) {
    @media only print {
      page-break-after: always;
    }
  }

  &__content {
    margin: 3rem 0;
    padding-bottom: 3rem;
  }

  &__container {
    width: 84%;
    margin: auto;

    // @media only print {
    //   width: 100% !important;
    // }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  &__item {
    flex: 0 0 33.3333%;
    line-height: 1.5;
    margin-top: 3rem;
  }

  &__item-title {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__item-list {
    list-style: none;
  }

  &__container {
    overflow-x: scroll;
  }

  &__table {
    width: 100%;
    min-width: 120rem;
    text-align: left;
    border-collapse: collapse;

    @media only print {
      min-width: auto;
    }

    th {
      padding: 1.5rem 2rem;
    }

    th:first-of-type {
      padding-left: 0;
    }

    th:last-of-type {
      padding-right: 0;
    }

    tr {
      transition: background-color .2s;

      &:hover:not(:first-child) {
        background-color: $mercury;
      }

      &:nth-child(odd) {
        background-color: $alabaster;
      }
    }

    th {
      font-size: 1.8rem;
      padding-bottom: 2rem
    }

    td {
      vertical-align: top;
      line-height: 1.5;
      padding: 1.5rem 2rem;
    }

    td:first-of-type {
      padding-left: 0;
    }

    td:last-of-type {
      padding-right: 0;
    }

  }

  &__table-main-cell {
    width: 35rem;
  }
}