.receipt {
  &__header {
    width: 84vw;
    margin: 0 auto;
  }

  &__title {
    font-size: 3.6rem;
    margin-top: 3rem;
  }

  &__secondary-title {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  &__logo {
    width: 100%;
    margin-top: 3rem;
  }

  &__section {
    @media only print {
      page-break-after: always;
    }
  }

  &__content {
    background-color: $alabaster;
    margin: 3rem 0;
    padding: 3rem 0;
  }

  &__container {
    width: 84%;
    margin: auto;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__item {
    flex: 0 0 33.3333%;
    line-height: 1.5;
  }

  &__item-title {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__item-content {
  }

  &__item-list {
    list-style: none;
  }

  &__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    th {
      padding: 1.5rem 2rem;
    }

    tr {
      transition: background-color .2s;

      &:nth-of-type(even) {
        background-color: $white;
      }

      &:hover:not(:first-child) {
        background-color: $mercury;
      }
    }

    th {
      font-size: 1.8rem;
      padding-bottom: 2rem
    }

    td {
      vertical-align: top;
      line-height: 1.5;
      padding: 1.5rem 2rem;
    }
  }
}