.header {
  &__container {
    width: 84vw;
    height: 5rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media all and (max-width: $bp-md) {
      flex-direction: column;
    }
  }

  &__stats {
    margin: 2rem 0;
  }
}