.header {
  &__container {
    width: 84vw;
    max-width: 1920px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media all and (max-width: $bp-lg) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 3.6rem;
    text-align: center;

    @media all and (max-width: $bp-sm) {
      font-size: 2.6rem;
    }
  }

  &__stats {
    margin: 2rem 0;
  }

  &__sort {
    @media all and (max-width: $bp-md) {
      margin: 2rem 0;
    }
  }
}