.main {
  &__container {
    background-color: $alabaster;
    width: 100vw;
    min-height: 80vh;
    margin-bottom: 12rem;
    padding-top: 4rem;

    &--white {
      background-color: $white;
    }
  }

  &__section {
    width: 84%;
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;

    &--white {
      background-color: $white;
    }
  }

  &__no-results {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 2.4rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 10rem;
    }

    svg {
      width: 40rem;
      height: auto;
    }

    &--small {
      margin: 0;
      
      p {
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
        margin-top: 5rem;
      }
  
      svg {
        width: 30rem;
        height: auto;
      }
    }
  }
}

.mr-2 {
  margin-right: .5rem;
}