.alert {
  z-index: 2000;
  position: fixed;
  top: 2rem;
  right: 3rem;
  width: 30rem;
  padding: 2rem 3rem;
  color: $white;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 6px 14px 0 rgba($black, .15);

  &--success {
    background-color: $bg-success;
  }

  &--warning {
    background-color: $bg-orange;
  }

  &--danger {
    background-color: $bg-red;
  }

  svg {
    position: absolute;
    top: .75rem;
    left: .75rem;
  }

  &__link {
    color: $white;
    text-decoration: underline;
  }

  &__icon {
    &--back {
      position: relative !important;
      top: unset !important;
      margin-right: 1rem;
    }
  }
}