.alert {
  position: fixed;
  top: 2rem;
  right: 3rem;
  width: 30rem;
  padding: 2rem 3rem;
  color: $white;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 6px 14px 0 rgba(200, 200, 200, .5);
  opacity: .75;

  &--success {
    background-color: $bg-success;
    border: 1px solid darken($bg-success, 10%);
  }

  &--warning {
    background-color: $bg-warning;
    border: 1px solid darken($bg-warning, 10%);
  }

  &--danger {
    background-color: $bg-red;
    border: 1px solid darken($bg-red, 10%);
  }

  svg {
    position: absolute;
    top: .75rem;
    left: .75rem;
  }
}