.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: all .3s ease;
}
.slide-enter, .slide-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

/**
 * Highlight
 */

.highlight-enter {
  //background: rgba(255, 245, 157, 1);
}

.highlight-enter-to {
  background: rgba(255, 255, 255, 1);
}

.highlight-enter-active {
  transition: background 2s;
}

.highlight-leave {
  opacity: 1;
}

.highlight-leave-to {
  opacity: 0;
}

.highlight-leave-active {
  position: absolute;
  transition: opacity .5s;
}

.highlight-move {
  transition: transform .5s;
}

/**
 * Order
 */

.order-enter {
  opacity: 0;
}

.order-enter-to {
  opacity: 1;
}

.order-enter-active {
  transition: opacity .5s;
}

.order-leave {
  opacity: 1;
}

.order-leave-to {
  opacity: 0;
}

.order-leave-active {
  position: absolute;
  transition: opacity .5s;
}

.order-move {
  transition: transform .5s;
}