.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: all .3s ease;
}
.slide-enter, .slide-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

/**
 * Highlight
 */

.highlight-enter {
  opacity: 0;
}

.highlight-enter-to {
  opacity: 1;
}

.highlight-enter-active {
  transition: opacity .2s;
}

.highlight-leave {
  opacity: 1;
}

.highlight-leave-to {
  opacity: 0;
}

.highlight-leave-active {
  position: absolute;
  transition: opacity .2s;
}

.highlight-move {
  transition: transform .4s;
}

/**
 * Order
 */

.order-enter {
  opacity: 0;
}

.order-enter-to {
  opacity: 1;
}

.order-enter-active {
  transition: opacity .5s;
}

.order-leave {
  opacity: 1;
}

.order-leave-to {
  opacity: 0;
}

.order-leave-active {
  position: absolute;
  transition: opacity .5s;
}

.order-move {
  transition: transform .5s;
}

/**
 * Pagination
 */
.pagination-enter {
  opacity: 0;
}

.pagination-enter-to {
  opacity: 1;
}

.pagination-enter-active {
  transition: opacity .2s;
}

.pagination-leave {
  opacity: 1;
}

.pagination-leave-to {
  opacity: 0;
}

.pagination-leave-active {
  transition: opacity .2s;
}

.pagination-move {
}