.btn {
  width: 275px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  padding: .75rem 0;
  transition: background-color .2s;

  &--black {
    color: $white;
    background-color: $black;
    border: 1px solid $black;


    &:hover,
    &:active,
    &:focus {
      outline: none;
      background-color: $dark-grey;
      border: 1px solid $black;
    }
  }

  &--grey {
    width: 150px;
    color: inherit;
    background-color: $white;
    border: 1px solid $lighter-grey;
    margin-right: 1rem;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
      outline: none;
      background-color: $mercury;
      border: 1px solid $mercury;
    }
  }
}