button {
  background-color: transparent;
}

.button {
  &__primary {
    cursor: pointer;
    padding: 1.25rem 3rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: $white;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      margin-right: 1rem;
    }

    &--icon-only {
      margin-right: 2rem;
      
      svg {
        margin-right: 0;
      }
    }

    &--panel {
      flex: 1;
    }

    &--big {
      font-size: 2rem;
      padding: 2rem 5rem;
    }

    &--long {
      min-width: 27rem;
    }

    &--small {
      font-size: 1.2rem;
      padding: .75rem 2.5rem;
    }

    &:disabled {
      background-color: $mercury;
      color: $light-grey;
      cursor: not-allowed;
    }

    &--red {
      background-color: $bg-red;
      border: 1px solid $bg-red;

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($bg-red, 5%);
        border: 1px solid lighten($bg-red, 5%);
      }

      &:disabled {
        background-color: $mercury;
        border: 1px solid $mercury;
      }
    }

    &--orange {
      background-color: $bg-orange;
      border: 1px solid $bg-orange;

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($bg-orange, 5%);
        border: 1px solid lighten($bg-orange, 5%);
      }

      &:disabled {
        background-color: $mercury;
        border: 1px solid $mercury;
      }
    }
    
    &--purple {
      background-color: $bg-purple;
      border: 1px solid $bg-purple;

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($bg-purple, 5%);
        border: 1px solid lighten($bg-purple, 5%);
      }

      &:disabled {
        background-color: $mercury;
        border: 1px solid $mercury;
      }
    }

    &--grey {
      color: $dark-grey;
      background-color: $white;
      border: 1px solid $lighter-grey;
  
      &:hover,
      &:active,
      &:focus {
        background-color: $mercury;
        border: 1px solid $mercury;
  
        &:disabled {
          background-color: $mercury;
          border: 1px solid $mercury;
        }
      }
    }
  }
}