.comments {
  &__title {
    font-size: 2.4rem;
    font-weight: 300;
  }

  &__input-group {
    margin-top: 4rem;
    display: flex;
    align-items: center;
  }

  &__container {
    margin-top: 4rem;
    display: flex;
  }

  &__avatar {
    flex: 0 0 15%;

    img {
      width: 4rem;
      border-radius: 50%;
    }
  }

  &__content {
    flex: 0 0 85%;

    h3 {
      color: $dark-grey;
      font-size: 1.6rem;
      letter-spacing: .1px;
    }

    p {
      margin-top: 1rem;
      color: $scorpion;
      font-size: 1.4rem;
      line-height: 1.25;
    }
  }

  &__meta {
    display: flex;
    align-items: flex-end;

    span {
      color: $light-grey;
      font-size: 1.2rem;
      margin-left: 1.5rem;
    }
  }

  &__textarea {
    height: 4.5rem;
    width: 100%;
    resize: vertical;
    border: none;
    border-bottom: 1px solid $light-grey;
    line-height: 1.5;
    font-size: 1.6rem;
    outline: none;
    margin: 0 2rem 0 0;
    padding: 1rem 1.5rem;
    transition: all .2s;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid $dark-grey;
    }
  }
}