.cov-datepicker {
  width: 350px;
  padding: .5rem .5rem .5rem .2rem !important;
  line-height: 2 !important;
  transform: translateY(.1rem);
  z-index: 1;

  &:hover {
    background-color: $alabaster !important;
  }
}
