.delivery {
  &__controls-container {
    text-align: right;
    position: relative;
  }

  &__icon-destroy {
    position: absolute;
    right: -6rem;
    font-size: 2rem;
    color: $tundora;
    cursor: pointer;

    &:hover {
      .fa-times {
        color: $bg-red;
      }
    }
  }

  &__date-label {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 6px;
    font-weight: 100;
  }

  &__note-control {
    cursor: pointer;
    margin-top: .75rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {

  &__delivery {
    display: flex;

    &--white {
      color: #fff;
    }
  }
}
