.delivery {
  &__container {
    width: 100%;
    background-color: $white;
    display: flex;
  }

  &__content {
    width: 100%;
    margin-right: auto;
    padding: 2rem;
    border-right: 1px solid $concrete;
  }

  &__header {
    border-bottom: 1px solid $concrete;
  }

  &__row {
    display: flex;
  }

  &__document {
    padding: 2rem;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 2rem;
  }

  &__status {
    ul {
      list-style: none;
      padding: 0;
    }
  }

  &__contact-list {
    display: block;
    list-style: none;
    width: 300px;
    margin-left: 85px;
    line-height: 1.5;
  }

  &__admin-note {
    line-height: 1.5;
  }

  &__note {
    line-height: 1.5;
  }

  &__controls-container {
    text-align: right;
    position: relative;
  }

  &__icon-destroy {
    position: absolute;
    right: -6rem;
    font-size: 2rem;
    color: $tundora;
    cursor: pointer;

    &:hover {
      .fa-times {
        color: $bg-red;
      }
    }
  }

  &__label {
    margin-right: 1rem;
    margin-top: 6px;
    font-weight: 100;
    display: flex;
    align-items: center;
  }

  &__date-label {
    display: inline-block;
    margin-top: 6px;
    font-weight: 100;

    &--white {
      color: $white;
    }
  }

  &__note-control {
    cursor: pointer;
    margin-top: .75rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {

  &__delivery {
    display: flex;

    &--white {
      color: #fff;
    }
  }
}
