.delivery {
  &__container {
    background-color: $alabaster;
    padding-top: 4rem;
    padding-bottom: 1rem;

    &:not(:first-child) {
      margin-top: 2rem;
    }

    &--preview {
      padding-bottom: 10rem;
      
      &:not(:first-child) {
        margin-top: 0;
      }
    }

    &--admin {
      padding-bottom: 5rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;

    @media all and (max-width: $bp-lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    &--preview {
      align-items: flex-start;
      margin-top: 8rem;
    }

    &--admin {
      justify-content: flex-end;

      @media all and (max-width: $bp-lg) {
        align-items: flex-end;
      } 
    }

    &--main {
      position: relative;
      flex-wrap: wrap;
      margin-top: 3rem;

      @media all and (max-width: $bp-lg) {
        align-items: center;
      }
    }

    &--secondary {
      margin-bottom: 3rem;
    }
  }

  &__header-box {
    margin-right: 2rem;

    &--white {
      color: $white;
    }

    &--admin {
      width: 100%;
    }
  }

  &__details-container {
    display: flex;
  }

  &__details {
    display: flex;
    align-items: center;

    &--secondary {
      flex: 1;
      display: flex;
      align-items: flex-start;
    }

    &--order {
      margin-left: 20rem;

      @media all and (max-width: $bp-lg) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
      }
    }

    &--preview {
      color: $white;
      margin-left: 14rem;
      margin-top: 1.5rem;
    }
  }

  &__label {
    font-size: 2.4rem;
    font-weight: 300;
    margin-right: .75rem;

    &--white {
      color: $white;
    }

    &--dropdown {
      transform: translateY(.1rem);
    }

    &--datepicker {
      transform: translateY(.5rem);
    }

    &--bold {
      font-weight: 500;
    }

    &--preview {
      color: $white;
    }
  }

  &__info {
    font-size: 2.4rem;
    color: $white;
    font-weight: 400;
  }

  &__list {
    list-style: none;
    padding: 0;

    li {
      margin: .5rem 0;
    }

    &--admin {
      width: 43rem;
      margin-left: 11.5rem;
    }
  }

  &__textarea {
    width: 100%;
    border: none;
    padding: 4rem;
    margin: 1rem auto;
    display: block;
    resize: none;
    box-shadow: 0 15px 18px 0 rgba(99, 99, 99, 0.04);
    font-size: 1.4rem;

    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: $lighter-grey;
    }
  }

  &__note,
  &__admin-note {
    line-height: 1.5;
  }

  &__note {
    width: 84%;
    margin: auto;
    color: $white;

    h5 {
      font-size: 1.2rem;
      font-weight: 700;
      color: inherit;
      text-transform: uppercase;
    }
  }

  &__business,
  &__billed-to {
    width: 50vw;
    margin: 5rem auto;
    display: flex;

    h2 {
      width: 75%;
      font-size: 2.4rem;
      font-weight: 300;
    }

    strong {
      margin-left: 1rem;
    }
  }

  &__business {
    padding-bottom: 6rem;
    border-bottom: 1px solid $concrete;
  }

  &__terms {
    display: flex;
    justify-content: center;

    label {
      display: flex;
      align-items: center;
    }

    input {
      margin-right: 1rem;
      zoom: 1.5;
    }

    div {
      user-select: none;
    }
  }

  &__terms-link {
    display: flex;
    justify-content: center;

    a:link {
      color: $bg-red;
    }
  }

  &__controls {
    text-align: right;
    margin-left: auto;
    position: relative;

    &--admin {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        width: 100%;
      }
    }
  }

  &__delete-button {
    position: absolute;
    top: -6rem;
    right: -6.5vw;
    font-size: 3.25rem;
    color: $tundora;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      .fa-times {
        color: $bg-red;
      }
    }
  }

  &__note-control {
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  &__document-container {
    margin-top: 2rem;
    border-top: 1px solid $concrete;
  }
}
