.document {
  &__container {
    display: flex;
    margin: 1rem 0;
    background-color: $white;
    box-shadow: 0 15px 18px 0 rgba(99, 99, 99, 0.04);
  }

  &__image {
    width: 15%;
    display: flex;
    justify-content: center;
    padding-top: 3.45rem;
  }

  &__content {
    width: 85%;
    margin-top: 1.5rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  &__options-container {
    display: flex;
    margin-top: 2rem;
  }

  &__option-label {
    font-size: 12px;
    font-weight: 300;
    color: $scorpion;
  }

  &__option {
    min-height: 60px;
    width: 100%;

    &:not(:last-child) {
      border-right: 1px solid $concrete;
      margin-right: 60px;
    }
  }

  &__list {
    list-style: none;
    padding: .75rem 0;

    li {
      line-height: 2;
      padding: .5rem;
      margin-left: -30px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $bg-red;
        color: $white;

        .fa-plus {
          display: none;
        }

        .fa-minus {
          display: inline-block;
          color: $white;
        }
      }

      .fa-plus {
        display: inline-block;
      }

      .fa-minus {
        display: none;
      }

      .fa-plus,
      .fa-minus {
        margin-right: .5rem;
      }

      span {
        user-select: none;
      }
    }
  }

  &__input {
    outline: none;
    padding-bottom: .5rem;
    border: none;
    border-bottom: 1px solid $lighter-grey;
    transition: border-bottom .3s;

    &:focus,
    &:active {
      border-bottom: 1px solid $bg-red;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
  }

  &__icon-delete,
  &__icon-clone {
    font-size: 2rem;
    padding: 1.5rem;
    cursor: pointer;
    transition: color .2s;
  }

  &__icon-delete {
    &:hover {
      .fa-times {
        color: $bg-red;
      }
    }
  }

  &__icon-clone {
    &:hover {
      .fa-copy {
        color: $bg-red;
      }
    }
  }
}
