.dropdown {
  &__label {
    user-select: none;
    cursor: pointer;
    line-height: 2;
    padding: .5rem;
    margin-left: -.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: $alabaster;
    }

    .fa-caret-down {
      margin-left: 1rem;
    }
  }

  &__container {
    z-index: 9999;
    position: relative;
    background-color: tomato;
  }

  &__list {
    z-index: 20;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    width: 200px;
    padding: .75rem 0;
    list-style: none;
    border-radius: 3px;
    background-color: $white;
    box-shadow: 0 6px 14px 0 rgba(200, 200, 200, 0.5);
    overflow: hidden;

    li {
      line-height: 2;
      padding: .5rem 1.5rem;
      cursor: pointer;

      &:hover {
        background-color: $alabaster;
      }
    }

    &--options {
      width: 12rem;
    }

    &--justified {
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__list-item-divider {
    width: 80%;
    margin: 0 auto 1rem auto;
    border-bottom: 1px solid $concrete;
    cursor: default !important;

    &:hover {
      background-color: $white !important;
    }
  }

  &__item {
    svg {
      margin-right: .5rem;
    }
  }
}

.settings {
  &__option {
    display: flex;
    align-items: baseline;
  }

  &__label {
    margin-right: 1rem;
  }
}

.preview-dropdown {
  &__label {
    min-width: 220px;
    display: flex;
    justify-content: space-between;
    user-select: none;
    font-weight: 400;
    color: $white;
  }
}