.help-block {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: .5rem;
  text-align: center;
  font-size: 0.75rem;
  color: $error;
}

.error {
  &__container {
    position: relative;
    width: 84%;    
    background-color: $bg-orange;
    border-radius: 5px;
    margin: 5rem auto;
    padding: 2.5rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      position: absolute;
      top: 50%;
      left: 5rem;
      transform: translate(-50%, -50%);
      color: $white;
    }
  }

  &__list {
    list-style: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: $bg-red;
    text-align: center;

    li {
      line-height: 1.5;
      color: $white;
    }
  }
}