.form {
  &__title {
    font-size: 2.4rem;
    margin-bottom: 5.5rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    position: relative;
  }

  &__label {
    font-size: 1.4rem;
    color: $scorpion;
    text-align: left;
  }

  &__required {
    font-size: 1.6rem;
    color: $dark-grey;
    position: absolute;
    right: 1rem;
    transform: translateY(3rem);
  }

  &__input {
    font-size: 1.6rem;
    line-height: 1.5;
    height: 3.5rem;
    border: none;
    border-bottom: 1px solid $lighter-grey;
    outline: none;
    transition: all .2s;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid $dark-grey;
    }
  }

  &__textarea {
    height: 8rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border: none;
    outline: none;
    transition: all .2s;
    resize: none;
    background-color: $alabaster;
    padding: 1rem 1.5rem;
  }

  &__select {
    font-family: $font-stack;
    font-size: 1.6rem;
    height: 3.5rem;
    border: none;
    border-bottom: 1px solid $light-grey;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $white;
    outline: none;
    transition: all .2s;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid $bg-red;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 5rem;
    color: $dark-grey;
  }

  &__alert {
    position: absolute;
    bottom: -1.7rem;
    font-size: 1.2rem;
    color: $error;
  }
}