.preview {
  &__header {
    display: flex;
  }

  &__delivery-details {
    color: $white;
    margin-top: 3rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
  }

  &__details {
    display: flex;
  }

  &__label {
    color: $white;
    font-weight: 300;
    margin-right: 1rem;
  }

  &__info {
    color: $white;
    font-weight: 400;
  }

  &__list {
    list-style: none;
    padding: 0;

    li {
      margin: .25rem 0;
    }
  }

  &__delivery-note {
    width: 20vw;
    color: $white;
    margin-top: 3rem;
    margin-bottom: 5rem;
    line-height: 1.5;

    h5 {
      font-size: 1rem;
      font-weight: 300;
      color: currentColor;
    }
  }

  &__business,
  &__billed-to {
    width: 50vw;
    margin: 5rem auto;
    display: flex;

    h2 {
      width: 75%;
      font-size: 24px;
      font-weight: 300;
    }
  }

  &__terms {
    display: flex;
    justify-content: center;

    label {
      display: flex;
      align-items: center;
    }

    input {
      margin-right: .75rem;
      zoom: 1.5;
    }

    div {
      user-select: none;
    }
  }
}