.user-business {
  &__container {
    width: 84vw;
    margin: 0 auto;

    & > div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__card {
    position: relative;
    flex: 0 0 35rem;
    margin: 3rem auto;
    padding: 3rem 2rem;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 15px 18px 0 rgba(99, 99, 99, 0.04);

    @media all and (max-width: $bp-md) {
      flex: 0 0 25rem;
    }

    @media all and (max-width: $bp-sm) {
      flex: 0 0 100%;
    }

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }

    &:hover img,
    &:focus img,
    &:active img {
      transform: translateY(-5px);
    }
  }

  &__img {
    display: block;
    width: 8rem;
    margin-top: 6rem;
    margin-bottom: 7rem;
    user-select: none;
    transition: all .2s ease-out;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__orders {
    font-size: 1.4rem;
  }

  &__delete-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem 1.5rem;
    color: $light-grey;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;

    &:hover {
      color: $brand-red;
    }
  }
}