@import "partials/dip.scss";

.bg-primary {
  background: $primary;
}

.btn-primary {
  background: $primary;
  border: 1px solid $primary-darker;

  &:hover,
  &:active {
    background: $primary-darker;
    border: 1px solid $primary-darker;
  }

  &:focus {
    color: #fff;
  }
}