@import "partials/multicop.scss";

.bg-primary {
  background: $primary!important;
}

.btn-primary {
  background: $primary;
  border: 1px solid $primary-darker;

  &:hover,
  &:active {
    background: $primary-darker;
    border: 1px solid $primary-darker;
  }

  &:focus {
    color: #fff;
  }
}

.form-control:focus {
  border-bottom: 1px solid $primary;
}

.badge-white {
  color: $primary;
}