//.algolia-autocomplete {
//  width: 100%;
//}
//
//.algolia-autocomplete .aa-input,
//.algolia-autocomplete .aa-hint {
//  width: 100%;
//}

.algolia-autocomplete .aa-hint {
  color: $lighter-grey;
}

.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  color: $dark-grey;
  background-color: #FFF;
  border-top: none;
  margin-top: 0;
  border-top: 0;
  outline: 0;
  box-shadow: 0 6px 14px 0 rgba(200, 200, 200, 0.5);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 15px 12px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-empty {
  padding: 15px 12px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: $alabaster;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
  color: #FFF;
  padding: 12px 0 12px 5px;
}