body {
  background: $white;
  color: $dark-grey;
  font: .875rem $font-stack;
}

.container {
  @media (min-width: $grid-lg) {
    width: 90%;
  }
}

.col-12,
.card .col-12 {
  flex-basis: auto !important;
  @media (min-width: $grid-sm) { flex-basis: auto !important; }
  @media (min-width: $grid-md) { flex-basis: auto !important; }
  @media (min-width: $grid-lg) { flex-basis: auto !important; }
  @media (min-width: $grid-xl) { flex-basis: auto !important; }
}

.intro {
  min-height: 80vh !important;
}

.vh-100 {
  min-height: 100vh !important;
}

.vh-90 {
  min-height: 90vh !important;
}

.vh-80 {
  min-height: 80vh !important;
}

/**
 * Margin top
 */

.mt-5 {
  margin-top: 2rem !important;
}

.mt-6 {
  margin-top: 3rem !important;
}

.mt-7 {
  margin-top: 4rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

.mt-9 {
  margin-top: 7.75rem !important;
}

/**
 * Margin top and bottom
 */

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.my-6 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-7 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

/**
 * Margin right
 */

.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/**
 * Padding right
 */

.pr-6 {
  padding-right: 4rem !important;
}

.pr-7 {
  padding-right: 5rem !important;
}

.pr-8 {
  padding-right: 6rem !important;
}

/**
 * Padding horizontal
 */
.px-6 {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.px-7 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.px-8 {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

/**
 * Padding vertical
 */
.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.py-7 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.py-8 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

/**
 * Padding
 */
.p-6 {
  padding: 4rem !important;
}

.p-7 {
  padding: 5rem !important;
}

.p-8 {
  padding: 6rem !important;
}