body {
  background: $white;
  color: $dark-grey;
  font: .875rem $font-stack;
}

.container {
  @media (min-width: $grid-sm) {
  }

  @media (min-width: $grid-md) {
  }

  @media (min-width: $grid-lg) {
    width: 90%;
  }

  @media (min-width: $grid-xl) {
  }
}

.intro {
  min-height: 80vh!important;
}

.vh-100 {
  min-height: 100vh!important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.mt-6 {
  margin-top: 3rem !important;
}

.mt-7 {
  margin-top: 4rem !important;
}

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.my-6 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-7 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}