$black: #000000;
$dark-grey: #2b2b2b;
$tundora: #424242;
$scorpion: #606060;
$light-grey: #949494;
$lighter-grey: #ccc;
$concrete: #f2f2f2;
$alabaster: #f9f9f9;
$slight-grey: #efefef;
$white: #ffffff;
$light-accent: #ff6f6f;

$atlantis: #83d64b;
$yellowsea: #f7a702;
$sunglow: #fdba2f;

$bg-red: #e84949;
$bg-purple: #795691;
$bg-orange: #ef9067;

$bg-red-lighter-5: lighten($bg-red, 5%);
$bg-purple-lighter-5: lighten($bg-purple, 5%);
$bg-orange-lighter-5: lighten($bg-orange, 5%);

$bg-success: #13c964;
$bg-warning: #e6aa82;

$error: #ff7e81;

.bg-red {
  background: $bg-red;
}

.bg-purple {
  background: $bg-purple;
}

.bg-orange {
  background: $bg-orange;
}

.bg-grey-light {
  background: $alabaster;
}

.transparent {
  background: transparent;
}

/**
 * Shadows
 */
.z-depth-1 {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10) !important;
}

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;
}

.z-depth-custom {
  box-shadow: 0 15px 18px 0 rgba(99, 99, 99, 0.04);
}