$black: #000000;
$dark-grey: #2b2b2b;
$tundora: #424242;
$scorpion: #606060;
$light-grey: #949494;
$lighter-grey: #ccc;
$mercury: #e2e1e1;
$concrete: #f2f2f2;
$alabaster: #f9f9f9;
$slight-grey: #efefef;
$white: #ffffff;
$light-accent: #ff6f6f;

$pink: #ffbcbc;

$atlantis: #83d64b;
$yellowsea: #f7a702;
$sunglow: #fdba2f;

$bg-red: #e84949;
$bg-purple: #795691;
$bg-orange: #ef9067;

$bg-red-1: $bg-red;
$bg-red-2: darken($bg-red-1, 10%);
$bg-red-3: darken($bg-red-2, 10%);
$bg-red-4: darken($bg-red-3, 10%);
$bg-red-5: darken($bg-red-4, 10%);
$bg-red-6: darken($bg-red-5, 10%);
$bg-red-7: darken($bg-red-6, 10%);
$bg-red-8: darken($bg-red-7, 10%);
$bg-red-9: darken($bg-red-8, 10%);
$bg-red-10: darken($bg-red-9, 10%);
$bg-red-11: darken($bg-red-10, 10%);
$bg-red-12: darken($bg-red-11, 10%);
$bg-red-13: darken($bg-red-12, 10%);
$bg-red-14: darken($bg-red-13, 10%);
$bg-red-15: darken($bg-red-14, 10%);

.bg-red-1 {
  background-color: $bg-red-1;
}

.bg-red-2 {
  background-color: $bg-red-2;
}

.bg-red-3 {
  background-color: $bg-red-3;
}

.bg-red-4 {
  background-color: $bg-red-4;
}

.bg-red-5 {
  background-color: $bg-red-5;
}

.bg-red-6 {
  background-color: $bg-red-6;
}

.bg-red-7 {
  background-color: $bg-red-7;
}

.bg-red-8 {
  background-color: $bg-red-8;
}

.bg-red-9 {
  background-color: $bg-red-9;
}

.bg-red-10 {
  background-color: $bg-red-10;
}

.bg-red-11 {
  background-color: $bg-red-11;
}

.bg-red-12 {
  background-color: $bg-red-12;
}

.bg-red-13 {
  background-color: $bg-red-13;
}

.bg-red-14 {
  background-color: $bg-red-14;
}

.bg-red-15 {
  background-color: $bg-red-15;
}

$bg-red-lighter-5: lighten($bg-red, 5%);
$bg-purple-lighter-5: lighten($bg-purple, 5%);
$bg-orange-lighter-5: lighten($bg-orange, 5%);

$bg-success: #13c964;
$bg-warning: #e6aa82;

$error: #ff7e81;

.bg-red {
  background: $bg-red;
}

.bg-purple {
  background: $bg-purple;
}

.bg-orange {
  background: $bg-orange;
}

.bg-grey-light {
  background: $alabaster;
}

.bg-grey-light-hoverable {
  transition: background .3s;

  &:hover {
    background: $slight-grey;
  }
}

.transparent {
  background: transparent;
}

/**
 * Shadows
 */
.z-depth-1 {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10) !important;
}

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;
}

.z-depth-custom {
  box-shadow: 0 15px 18px 0 rgba(99, 99, 99, 0.04);
}