/**
 * Logos
 */

.nav-logo {
  max-height: 50px;
}

/**
 * Errors
 */

.help-block {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: .5rem;
  text-align: center;
  font-size: 0.75rem;
  color: $error;
}

/**
 * Forms
 */

.form-group label {
  font-size: 12px;
  color: $dark-grey;
}

.form-control {
  border-top:none;
  border-left:none;
  border-right:none;
  border-radius: 0;
  padding-left: 0;
  background: none;

  &:focus {
    background: none;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $light-grey;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $light-grey;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $light-grey;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $light-grey;
  }
}

.required {
  position: relative;
  float: right;
  top: 2.375rem;
  font-size: 12px;
  color: $dark-grey;
}

.has-error input.form-control {
  border-bottom: 1px solid $error;
}

/**
 * Buttons & Links
 */

.dropdown-item.active, .dropdown-item:active {
  background: $dark;
}

a.link-unstyled {
  color: inherit;
  text-decoration: none;
  transition: all .1s ease-out;
}

.btn-black {
  font-size: 14px;
  color: $white;
  background: $black;
  transition: background .2s ease-out;

  &:hover {
    background: $dark;
  }
}

a.btn-transparent {
  -webkit-appearance: none;

  .fa.fa-ellipsis-v {
    color: $light-grey;
  }
}

/**
 * Checklists
 */

.checklist {
  color: $white;
}

.checklist-item {
  opacity: .5;
  height: 51px;
}

.checklist-item-done {
  opacity: 1;
}

.checklist-item-active {
  opacity: 1;
  background: $light-accent;
  border-radius: 4px;
  box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.06);
}

.badge-white {
  height: 20px;
  width: 20px;
  padding-top: 4px;
  border-radius: 50%;
  background: $white;
}

.no-padding {
  padding: 0;
}

/**
 * Carousel
 */

.carousel-item {
  min-height: 100vh;
  color: $white;
}

.carousel-indicators {
  top: 88%;
}

.carousel-indicators li {
  flex-grow: 0;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background: $black;
  opacity: .2;

  &.active {
    opacity: 1;
  }
}

.carousel-slide-first {
  background: url('../img/register/art-red-pattern-login-1.png') no-repeat top center;
}

.carousel-slide-second {
  background: url('../img/register/art-violet-pattern-login-2.png') no-repeat top center;
}

.carousel-slide-third {
  background: url('../img/register/art-orange-pattern-login-3.png') no-repeat top center;
}

.carousel-slide {
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-carousel {
  width: 75%;
  max-width: 500px;
}

.carousel-slide-content {
  width: 75%;
  max-width: 500px;
}

.bg-shapes-red {
  background: url('../img/register/art-red-pattern-login-1@3x.png') no-repeat bottom center,
              $bg-red;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
 * Images
 */

.img-fluid {
  width: 100%!important;
  max-height: 100%;
}

.todo {
  top: calc(50% - 36px);
  left: calc(50% - 36px);
}

.company-logo-container {
  z-index: 20;
  position: absolute;
  top: -15px;
  left: 20px;
  width: 60px;
  height: 100px;

  &.company-logo-dip,
  &.company-logo-dip-white{
    background: url('../img/logos/dip-logo-white-md.png') no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  &.company-logo-multicop,
  &.company-logo-multicop-white {
    background: url('../img/logos/multicop-logo-white-md.png') no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  @media (min-width: $grid-sm) {
  }

  @media (min-width: $grid-md) {
  }

  @media (min-width: $grid-lg) {
    top: 1%;
    left: 8%;

    &.company-logo-dip {
      background: url('../img/logos/dip-logo-md.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    &.company-logo-multicop {
      background: url('../img/logos/multicop-logo-md.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    &.company-logo-dip-white {
      background: url('../img/logos/dip-logo-white-md.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    &.company-logo-multicop-white {
      background: url('../img/logos/multicop-logo-white-md.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }
  }

  @media (min-width: $grid-xl) {
  }
}

/**
 * Spinner
 */
.v-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .15);
}

.v-moon {
  position: fixed;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}

.card {
  border: none;
  border-radius: 0;
}

.dashboard-card {
  border-radius: 0;
  transition: all .2s ease-out;
  box-shadow: 0 7px 10px 0 rgba(99, 99, 99, 0.1);

  a {
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: center;
    color: $dark-grey;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &:hover {
    //background: $slight-grey;
    box-shadow: 0 10px 13px 0 rgba(99, 99, 99, 0.2);
  }
}