/**
 * Checklists
 */

.checklist {
  color: $white;
}

.checklist-item {
  opacity: .5;
  height: 51px;
}

.checklist-item-done {
  opacity: 1;
}

.checklist-item-active {
  opacity: 1;
  background: $light-accent;
  border-radius: 4px;
  box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.06);
}

.badge-white {
  height: 20px;
  width: 20px;
  padding-top: 4px;
  border-radius: 50%;
  background: $white;
}

.badge-order {
  width: 40px;
  height: 40px;
  padding-top: 13px;
  margin-right: 3rem;
  border-radius: 50%;
  background: $bg-red;
  font-size: 14px;
}

.bg-shapes-red {
  background: url('../img/register/art-red-pattern-login-1@3x.png') no-repeat bottom center,
  $bg-red;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-fluid {
  width: 100% !important;
  max-height: 100%;
}

.badge-custom {
  font-size: .75rem;
  font-weight: 300;
  padding: .5rem 1rem;
  text-transform: capitalize;
}

.badge-success,
.badge--success {
  background: $bg-success;
}

.badge-warning,
.badge--warning {
  background: $bg-warning;
}

.badge--danger {
  background-color: $bg-red;
}

.center-on-small-only {
  @media (max-width: $grid-lg) { text-align: center; }
}

.center-on-small-only .img-fluid,
.center-on-small-only .section img,
.section .center-on-small-only img,
.center-on-small-only .section .view,
.section .center-on-small-only .view,
.center-on-small-only .card img,
.card .center-on-small-only img,
.center-on-small-only .comments-list img,
.comments-list .center-on-small-only img,
.center-on-small-only
.reply-form img,
.reply-form .center-on-small-only img {
  @media (max-width: $grid-lg) {
    display: inline;
  }
}

a.btn-transparent .fa.fa-ellipsis-v {
  color: $lighter-grey;
}

.img-bullet {
  display: block;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
}

.fixed-lg-right {
  @media (min-width: $grid-lg) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.fixed-lg-left {
  @media (min-width: $grid-lg) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.mt-md-checklist {
  @media (min-width: $grid-md) { margin-top: 15%; }
}

.v-hidden {
  position: absolute;
  top: -10000px;
}
