.help-block {
  color: tomato;
}

.dropdown-item.active, .dropdown-item:active {
  background: $dark;
}

.form-control:focus {
  border-color: $dark;
}

a.link-unstyled {
  color: initial;
  text-decoration: none;
  transition: all .1s ease-out;
}