form {
  margin-bottom: 0;
}

.form-group label {
  font-size: 12px;
  color: $dark-grey;
}

.form-control {
  border-top:none;
  border-left:none;
  border-right:none;
  border-radius: 0;
  padding-left: 0;
  background: none;

  &:focus {
    background: none;
  }

  &::-webkit-input-placeholder {
    color: $light-grey;
  }

  &::-moz-placeholder {
    color: $light-grey;
  }

  &:-ms-input-placeholder {
    color: $light-grey;
  }

  &:-moz-placeholder {
    color: $light-grey;
  }
}

.required {
  position: relative;
  float: right;
  top: 2.375rem;
  font-size: 12px;
  color: $dark-grey;
}

.has-error input.form-control {
  border-bottom: 1px solid $error;
}

.form-nav {
  color: $lighter-grey;

  input {
    width: 300px !important;
    font-size: .875rem;
    text-indent: 52px;
    border: none;
    background: $alabaster;
    padding: .5rem .25rem;

    &:focus {
      border: none;
      background: $alabaster;
    }

    &::-webkit-input-placeholder {
      color: $lighter-grey;
    }

    &::-moz-placeholder {
      color: $lighter-grey;
    }

    &:-ms-input-placeholder {
      color: $lighter-grey;
    }

    &:-moz-placeholder {
      color: $lighter-grey;
    }
  }

  .fa-search {
    position: relative;
    top: -2px;
    left: 10%;
  }
}

.custom-select {
  width: 120px;
  background: none;
  border: none;
}

.fa-select {
  position: relative;
  left: 60px;
}