form {
  margin-bottom: 0;
}

.form-group label {
  font-size: 12px;
  color: $dark-grey;
}

.form-control:disabled,
.form-control[readonly] {
  color: $lighter-grey;
  background-color: $white;
}

.form-control {
  border-top:none;
  border-left:none;
  border-right:none;
  border-radius: 0;
  padding-left: 0;
  background: none;

  &:focus {
    background: none;
  }

  &::-webkit-input-placeholder {
    color: $light-grey;
  }

  &::-moz-placeholder {
    color: $light-grey;
  }

  &:-ms-input-placeholder {
    color: $light-grey;
  }

  &:-moz-placeholder {
    color: $light-grey;
  }
}

.required {
  position: relative;
  float: right;
  top: 2.375rem;
  font-size: 12px;
  color: $dark-grey;
}

.has-error input.form-control {
  border-bottom: 1px solid $error;
}

.form-nav {
  color: $lighter-grey;

  input {
    width: 300px !important;
    font-size: .875rem;
    text-indent: 52px;
    border: none;
    background: $alabaster;
    padding: .5rem .25rem;

    &:focus {
      border: none;
      background: $alabaster;
    }

    &::-webkit-input-placeholder {
      color: $lighter-grey;
    }

    &::-moz-placeholder {
      color: $lighter-grey;
    }

    &:-ms-input-placeholder {
      color: $lighter-grey;
    }

    &:-moz-placeholder {
      color: $lighter-grey;
    }
  }
}

.fa-search {
  z-index: 1;
  position: relative;
  left: 11%;
}

.custom-select {
  border-radius: 0;
  background: $white;
}

.order-select {
  border: none;
}

.delivery-select {
  position: relative;
  top: -7px;
  border: none;
  background: $alabaster;
  font-size: 1.5rem;
  font-weight: 400;
}

.fa-select {
  position: relative;
  left: 60px;
}

.icon-destroy {
  cursor: pointer;

  .fa-times {
    color: $lighter-grey;
  }

  &:hover {
    .fa-times {
      color: $bg-red;
    }
  }
}

.select-caret {
  position: relative;
  top: 2px;
  right: 20px;
}

.v-order-textarea {
  width: 100%;
  border: none;
  padding: 50px;
  margin-top: 10px;
  resize: none;
  box-shadow: 0 15px 18px 0 rgba(99, 99, 99, 0.04);
}

.v-order-textarea::-webkit-input-placeholder {
  color: $lighter-grey;
}

.v-order-textarea::-moz-placeholder {
  color: $lighter-grey;
}

.v-order-textarea::-ms-input-placeholder {
  color: $lighter-grey;
}

.v-order-textarea::-moz-placeholder {
  color: $lighter-grey;
}
