// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .mt-md-checklist {
    margin-top: 15%;
  }

}

// Large devices (dekstops, 992px)
@media (min-width: 992px) {

  .fixed-lg-right {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .fixed-lg-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}