.modal-background {
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .43);
}

.modal-panel {
  z-index: 81;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $white;
  overflow-y: scroll;

  @media (min-width: $grid-lg) {
    width: 50%;
  }
}