.navbar {
  font-size: .875rem;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 300;
  color: $tundora;
}

.active .nav-link {
  font-weight: 400 !important;
}

.menu-avatar {
  width: 32px;
  border-radius: 100%;
}

.divider {
  position: relative;
  top: 10px;
  width: 1px;
  height: 17px;
  border: solid 1px #f2f2f2;
}

.nav-logo {
  height: 32px;
}

.company-logo-container {
  z-index: 20;
  position: absolute;
  top: -15px;
  left: 20px;
  width: 60px;
  height: 100px;

  &.company-logo-dip,
  &.company-logo-dip-white{
    background: url('../img/logos/dip-logo-white-md.png') no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  &.company-logo-multicop,
  &.company-logo-multicop-white {
    background: url('../img/logos/multicop-logo-white-md.png') no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  @media (min-width: $grid-sm) {
  }

  @media (min-width: $grid-md) {
  }

  @media (min-width: $grid-lg) {
    top: 1%;
    left: 8%;

    &.company-logo-dip {
      background: url('../img/logos/dip-logo-md.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    &.company-logo-multicop {
      background: url('../img/logos/multicop-logo-md.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    &.company-logo-dip-white {
      background: url('../img/logos/dip-logo-white-md.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    &.company-logo-multicop-white {
      background: url('../img/logos/multicop-logo-white-md.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }
  }

  @media (min-width: $grid-xl) {
  }
}