.searchbar {
  background: $alabaster;
  transition: all .3s ease-out;
}

.search-dropdown {
  z-index: 1;
  position: absolute;
  top: 48px;
  left: 114px;
  width: 300px;
  padding: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: $white;
  box-shadow: 0 6px 14px 0 rgba(200, 200, 200, 0.5);
  color: $dark-grey;
  border-top: 1px solid $concrete;

  li {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

    &:hover {
      background-color: $alabaster;
    }
  }
}

.searchbar:focus {
  background-color: $white !important;
  box-shadow: 0 6px 14px 0 rgba(200, 200, 200, 0.5);
}

.search-title {
  padding-top: 5px;
  padding-left: 20px;
  font-size: .75rem;
  color: $scorpion;
}