.border-red {
  border: 1px solid red;
}

.border-green {
  border: 1px solid green;
}

.border-black {
  border: 1px solid black;
}

.border-yellow {
  border: 1px solid yellow;
}

.border-pink {
  border: 1px solid pink;
}

.border-purple {
  border: 1px solid purple;
}

.border-blue {
  border: 1px solid blue;
}