@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$font-stack: 'Lato', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-grey;
}

h1 {
  font-size: 2.25rem;
  @media (min-width: $grid-lg) { font-size: 2.25rem; }
}

h2 {
  font-size: 1.875rem;
  @media (min-width: $grid-lg) { font-size: 1.875rem; }
}

h3 {
  font-size: 1.5rem;
  @media (min-width: $grid-lg) { font-size: 1.5rem; }
}

h4 {
  font-size: 1.25rem;
  @media (min-width: $grid-lg) { font-size: 1.25rem; }
}

h5 {
  font-size: 1rem;
  @media (min-width: $grid-lg) { font-size: 1rem; }
}

//.h4-responsive {
//  font-size: 1.25rem;
//  @media (min-width: $grid-lg) { font-size: 1.25rem; }
//}

.h6-responsive {
  font-size: 1rem;
  @media (min-width: $grid-lg) { font-size: .75rem; }
}

.select-label {
  font-weight: 300;
  color: $scorpion;
  margin-left: 10px;
}

.text-small {
  font-size: 12px;
  color: $dark-grey;

  a {
    font-size: .875rem;
    color: $black;
  }
}

.lead {
  font-size: 30px;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.info {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

.back-arrow {
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;

  &:hover {
    color: $tundora;
  }
}

.light {
  font-weight: 100;
}

.description {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.43;
}

input {
  font-family: $font-stack;
}

.text-success {
  color: $atlantis !important;
}

.profile-data {
  color: $scorpion;
}

.card-label {
  font-size: 12px;
  margin-right: 5px;
  text-transform: uppercase;
}