@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$font-stack: 'Lato', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-grey;
}

.text-small {
  font-size: 12px;
  color: $dark-grey;

  a {
    font-size: .875rem;
    color: $black;
  }
}

.lead {
  font-size: 30px;
  font-weight: 400;
}

.description {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.43;
}